body {
  padding: 0 20px;
}
#cards {
  display: flex;
  flex-wrap: wrap;

  width: 85%;
  margin: 0 auto;
}

.card {
  flex: 7% 1 1;
  height: 8vw;
  border: 2px solid #e0e0e0;
  margin: 2px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card img {
  max-width: 30%;
  align-self: center;
}

.card p {
  margin: 3px;
  font-size: 10px;
}

.card p:last-child {
  transform: rotate(180deg);
}

.back {
  background: url("https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png");
  background-size: cover;
}

.paired {
  background-color: #dae0e3;
}

#header {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  align-items: flex-end;
}

#header .title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

#header .title img {
  max-width: 3em;
}

#header .title h2 {
  padding-left: 0.5em;
}

#header .score {
  margin: 0;
  color: #6c90ac;
}
#header .tried {
  margin-top: 0;
}

.wrong {
  animation: wrongAnimation 0.2s;
  animation-iteration-count: 5;
}

@keyframes wrongAnimation {
  to {
    border: 2px solid #f1c232;
  }
}

/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}
.completed > p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}
.completed > p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}
